<h2>{{ product.title }}</h2>
<p>Descripción: {{ product.description }}</p>
<p>Precio: ${{ product.price }}</p>

<form action="/products/{{ product._id }}/add-to-cart" method="POST">
    <input type="hidden" name="productId" value="{{ product._id }}">
    <button type="submit">Añadir al carrito</button>
</form>

<a href="/">Home</a>

  {{#if user.cart}}
    <a href="/cart/{{ user.cart._id }}">Cart ({{ user.cart.products.length }})</a>
  {{/if}}