<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Productos</title>
    </head>
    <body>
{{#if usuario}}
        <div>
            <p>Nombre: {{usuario.nombre}}</p>
            <p>Email: {{usuario.email}}</p>
            <p>Rol: {{usuario.rol}}</p>
        </div>
    {{/if}}
        <h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>{{this.title}} - {{this.price}} - <a href="/product/{{this._id}}">Ver detalle</a> </li>
    {{/each}}
</ul>

        
     <a href="/productos?pagina=1">Pag.1</a>

{{#if hasPrevPage}}
<a href="/productos?pagina={{prevPage}}">Pag. Ant.</a>
{{/if}}

{{#if hasNextPage}}
<a href="/productos?pagina={{nextPage}}">Pag. Sig.</a>
{{/if}}

<a href="/productos?pagina={{totalPages}}">Ult. Pag.</a>

    </body>
</html>

{{>menu}}