{{!-- <ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/productos">Productos</a>
    </li>
    {{#if isAuthenticated}}
    {{#if cart.products}}
            {{#if cart.products}}
                <li>
                    <a href="/cart/{{ isAuthenticated.cart }}">Cart ({{ cart.products.length }})</a>
                </li>
            {{/if}}
    {{/if}}
    <li>
        <a href="/perfil">Perfil</a>
    </li>
    <li>
        <a href="/api/sessions/logout">Logout</a>
    </li>
    {{else}}
    <li>
        <a href="/registro">Registro</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    {{/if}}
</ul> --}}

<ul>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/productos">Productos</a>
  </li>
  {{#if isAuthenticated}}
    {{#if cart}}
      {{#if cart.products.length}}
        <li>
          <a href="/cart/{{cart._id}}">Cart ({{cart.products.length}})</a>
        </li>
      {{/if}}
    {{/if}}
    <li>
      <a href="/perfil">Perfil</a>
    </li>
    <li>
      <a href="/api/sessions/logout">Logout</a>
    </li>
  {{else}}
    <li>
      <a href="/registro">Registro</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
  {{/if}}
</ul>
